doctype html
html
  head
    title= 'Error - ' + status
  body
    #error
      h1 Error
      p Looks like something broke!
      h2 Message:
      pre: code= error
      h2 Stack:
      pre: code= stack
